# Data Preparation

## Import Libraries

In [1]:
import numpy as np
import pandas as pd

## Import Data

In [2]:
loan_data_backup = pd.read_csv('loan_data_2007_2014.csv')

C:\Users\dagash\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
loan_data = loan_data_backup.copy()

## Explore Data

In [4]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pd.options.display.max_columns = None

In [6]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [8]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

## General Preprocessing

### Preprocessing Continuous variables

In [9]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [10]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

<ipython-input-10-f42231df6a9a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

In [11]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [12]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [13]:
type(loan_data['emp_length_int'][0])

numpy.float64

In [14]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [15]:
loan_data['term_int'] = loan_data['term'].str.replace(' ', '')
loan_data['term_int'] = loan_data['term_int'].str.replace('months', '')
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])

In [16]:
loan_data['term_int'].unique()

array([36, 60], dtype=int64)

In [17]:
type(loan_data['term_int'][0])

numpy.int64

In [18]:
loan_data[['earliest_cr_line']].head()

  earliest_cr_line
0           Jan-85
1           Apr-99
2           Nov-01
3           Feb-96
4           Jan-96

In [19]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format='%b-%y')

In [20]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [22]:
loan_data['mnths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date'])/np.timedelta64(1,'M')))

In [23]:
loan_data['mnths_since_earliest_cr_line'].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mnths_since_earliest_cr_line, dtype: float64

In [24]:
loan_data[loan_data['mnths_since_earliest_cr_line'] < 0][['earliest_cr_line','earliest_cr_line_date','mnths_since_earliest_cr_line']]

       earliest_cr_line earliest_cr_line_date  mnths_since_earliest_cr_line
1580             Sep-62            2062-09-01                        -537.0
1770             Sep-68            2068-09-01                        -609.0
2799             Sep-64            2064-09-01                        -561.0
3282             Sep-67            2067-09-01                        -597.0
3359             Feb-65            2065-02-01                        -566.0
...                 ...                   ...                           ...
464003           Jan-68            2068-01-01                        -601.0
464260           Jul-66            2066-07-01                        -583.0
465100           Oct-67            2067-10-01                        -598.0
465500           Sep-67            2067-09-01                        -597.0
465655           Jan-56            2056-01-01                        -457.0

[1169 rows x 3 columns]

In [25]:
loan_data['mnths_since_earliest_cr_line'][loan_data['mnths_since_earliest_cr_line']<0] = loan_data['mnths_since_earliest_cr_line'].max()

<ipython-input-25-335c559431d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mnths_since_earliest_cr_line'][loan_data['mnths_since_earliest_cr_line']<0] = loan_data['mnths_since_earliest_cr_line'].max()

In [26]:
loan_data[loan_data['mnths_since_earliest_cr_line'] < 0][['earliest_cr_line','earliest_cr_line_date','mnths_since_earliest_cr_line']]

Empty DataFrame
Columns: [earliest_cr_line, earliest_cr_line_date, mnths_since_earliest_cr_line]
Index: []

In [27]:
loan_data['mnths_since_earliest_cr_line'].min()

73.0

In [28]:
loan_data['issue_d'].head()

0    Dec-11
1    Dec-11
2    Dec-11
3    Dec-11
4    Dec-11
Name: issue_d, dtype: object

In [29]:
loan_data['issue_d']=pd.to_datetime(loan_data['issue_d'],format='%b-%y')

In [30]:
loan_data['mnths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_d'])/np.timedelta64(1,'M')))

In [31]:
loan_data['mnths_since_issue_d'].describe()

count    466285.000000
mean         51.255187
std          14.340154
min          36.000000
25%          41.000000
50%          47.000000
75%          57.000000
max         126.000000
Name: mnths_since_issue_d, dtype: float64

In [32]:
loan_data['mnths_since_issue_d']

0         72.0
1         72.0
2         72.0
3         72.0
4         72.0
          ...
466280    47.0
466281    47.0
466282    47.0
466283    47.0
466284    47.0
Name: mnths_since_issue_d, Length: 466285, dtype: float64

### Preprocessing Discrete Variables

In [33]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 80 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    466285 non-null  int64
 1   id                            466285 non-null  int64
 2   member_id                     466285 non-null  int64
 3   loan_amnt                     466285 non-null  int64
 4   funded_amnt                   466285 non-null  int64
 5   funded_amnt_inv               466285 non-null  float64
 6   term                          466285 non-null  object
 7   int_rate                      466285 non-null  float64
 8   installment                   466285 non-null  float64
 9   grade                         466285 non-null  object
 10  sub_grade                     466285 non-null  object
 11  emp_title                     438697 non-null  object
 12  emp_length                    445277 non-null  object
 13  home_ownership                466285 non-null  object
 14  annual_inc                    466281 non-null  float64
 15  verification_status           466285 non-null  object
 16  issue_d                       466285 non-null  datetime64[ns]
 17  loan_status                   466285 non-null  object
 18  pymnt_plan                    466285 non-null  object
 19  url                           466285 non-null  object
 20  desc                          125983 non-null  object
 21  purpose                       466285 non-null  object
 22  title                         466265 non-null  object
 23  zip_code                      466285 non-null  object
 24  addr_state                    466285 non-null  object
 25  dti                           466285 non-null  float64
 26  delinq_2yrs                   466256 non-null  float64
 27  earliest_cr_line              466256 non-null  object
 28  inq_last_6mths                466256 non-null  float64
 29  mths_since_last_delinq        215934 non-null  float64
 30  mths_since_last_record        62638 non-null   float64
 31  open_acc                      466256 non-null  float64
 32  pub_rec                       466256 non-null  float64
 33  revol_bal                     466285 non-null  int64
 34  revol_util                    465945 non-null  float64
 35  total_acc                     466256 non-null  float64
 36  initial_list_status           466285 non-null  object
 37  out_prncp                     466285 non-null  float64
 38  out_prncp_inv                 466285 non-null  float64
 39  total_pymnt                   466285 non-null  float64
 40  total_pymnt_inv               466285 non-null  float64
 41  total_rec_prncp               466285 non-null  float64
 42  total_rec_int                 466285 non-null  float64
 43  total_rec_late_fee            466285 non-null  float64
 44  recoveries                    466285 non-null  float64
 45  collection_recovery_fee       466285 non-null  float64
 46  last_pymnt_d                  465909 non-null  object
 47  last_pymnt_amnt               466285 non-null  float64
 48  next_pymnt_d                  239071 non-null  object
 49  last_credit_pull_d            466243 non-null  object
 50  collections_12_mths_ex_med    466140 non-null  float64
 51  mths_since_last_major_derog   98974 non-null   float64
 52  policy_code                   466285 non-null  int64
 53  application_type              466285 non-null  object
 54  annual_inc_joint              0 non-null       float64
 55  dti_joint                     0 non-null       float64
 56  verification_status_joint     0 non-null       float64
 57  acc_now_delinq                466256 non-null  float64
 58  tot_coll_amt                  396009 non-null  float64
 59  tot_cur_bal                   396009 non-null  float64
 60  open_acc_6m                   0 non-null       float64
 61  open_il_6m                    0 non-null       float64
 62  open_il_12m                   0 non-null       float64
 63  open_il_24m                   0 non-null       float64
 64  mths_since_rcnt_il            0 non-null       float64
 65  total_bal_il                  0 non-null       float64
 66  il_util                       0 non-null       float64
 67  open_rv_12m                   0 non-null       float64
 68  open_rv_24m                   0 non-null       float64
 69  max_bal_bc                    0 non-null       float64
 70  all_util                      0 non-null       float64
 71  total_rev_hi_lim              396009 non-null  float64
 72  inq_fi                        0 non-null       float64
 73  total_cu_tl                   0 non-null       float64
 74  inq_last_12m                  0 non-null       float64
 75  emp_length_int                445277 non-null  float64
 76  term_int                      466285 non-null  int64
 77  earliest_cr_line_date         466256 non-null  datetime64[ns]
 78  mnths_since_earliest_cr_line  466256 non-null  float64
 79  mnths_since_issue_d           466285 non-null  float64
dtypes: datetime64[ns](2), float64(49), int64(8), object(21)
memory usage: 284.6+ MB

In [34]:
pd.get_dummies(loan_data['grade'])

        A  B  C  D  E  F  G
0       0  1  0  0  0  0  0
1       0  0  1  0  0  0  0
2       0  0  1  0  0  0  0
3       0  0  1  0  0  0  0
4       0  1  0  0  0  0  0
...    .. .. .. .. .. .. ..
466280  0  0  1  0  0  0  0
466281  0  0  0  1  0  0  0
466282  0  0  0  1  0  0  0
466283  1  0  0  0  0  0  0
466284  0  0  0  1  0  0  0

[466285 rows x 7 columns]

In [35]:
pd.get_dummies(loan_data['grade'],prefix='grade',prefix_sep=':').head()

   grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0        0        1        0        0        0        0        0
1        0        0        1        0        0        0        0
2        0        0        1        0        0        0        0
3        0        0        1        0        0        0        0
4        0        1        0        0        0        0        0

In [36]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'],prefix='grade',prefix_sep=':'),
                    pd.get_dummies(loan_data['sub_grade'],prefix='sub_grade',prefix_sep=':'),
                    pd.get_dummies(loan_data['home_ownership'],prefix='home_ownership',prefix_sep=':'),
                    pd.get_dummies(loan_data['verification_status'],prefix='verification_status',prefix_sep=':'),
                    pd.get_dummies(loan_data['loan_status'],prefix='loan_status',prefix_sep=':'),
                    pd.get_dummies(loan_data['purpose'],prefix='purpose',prefix_sep=':'),
                    pd.get_dummies(loan_data['addr_state'],prefix='addr_state',prefix_sep=':'),
                    pd.get_dummies(loan_data['initial_list_status'],prefix='initial_list_status',prefix_sep=':')]

In [37]:
loan_data_dummies2 = pd.concat(loan_data_dummies,axis=1)

In [38]:
loan_data_dummies2.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [39]:
loan_data = pd.concat([loan_data,loan_data_dummies2],axis=1)

In [40]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'term_int', 'earliest_cr_line_date',
       'mnths_since_earliest_cr_line', 'mnths_since_issue_d', 'grade:A',
       'grade:B', 'grade:C', 'grade:D', 'grade:E', 'grade:F', 'grade:G',
       'sub_grade:A1', 'sub_grade:A2', 'sub_grade:A3', 'sub_grade:A4',
       'sub_grade:A5', 'sub_grade:B1', 'sub_grade:B2', 'sub_grade:B3',
       'sub_grade:B4', 'sub_grade:B5', 'sub_grade:C1', 'sub_grade:C2',
       'sub_grade:C3', 'sub_grade:C4', 'sub_grade:C5', 'sub_grade:D1',
       'sub_grade:D2', 'sub_grade:D3', 'sub_grade:D4', 'sub_grade:D5',
       'sub_grade:E1', 'sub_grade:E2', 'sub_grade:E3', 'sub_grade:E4',
       'sub_grade:E5', 'sub_grade:F1', 'sub_grade:F2', 'sub_grade:F3',
       'sub_grade:F4', 'sub_grade:F5', 'sub_grade:G1', 'sub_grade:G2',
       'sub_grade:G3', 'sub_grade:G4', 'sub_grade:G5',
       'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f',
       'initial_list_status:w'], dtype=object)

### Checking for missing values and cleaning

In [51]:
pd.options.display.max_rows = 100

In [50]:
loan_data.isnull().sum()

Unnamed: 0                                                              0
id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              4
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                            29
earliest_cr_line                                                       29
inq_last_6mths                                                         29
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                               29
pub_rec                                                                29
revol_bal                                                               0
revol_util                                                            340
total_acc                                                              29
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                         29
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                    70276
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
emp_length_int                                                      21008
term_int                                                                0
earliest_cr_line_date                                                  29
mnths_since_earliest_cr_line                                           29
mnths_since_issue_d                                                     0
grade:A                                                                 0
grade:B                                                                 0
grade:C                                                                 0
grade:D                                                                 0
grade:E                                                                 0
grade:F                                                                 0
grade:G                                                                 0
sub_grade:A1                                                            0
sub_grade:A2                                                            0
sub_grade:A3                                                            0
sub_grade:A4                                                            0
sub_grade:A5                                                            0
sub_grade:B1                                                            0
sub_grade:B2                                                            0
sub_grade:B3                                                            0
sub_grade:B4                                                            0
sub_grade:B5                                                            0
sub_grade:C1                                                            0
sub_grade:C2                                                            0
sub_grade:C3                                                            0
sub_grade:C4                                                            0
sub_grade:C5                                                            0
sub_grade:D1                                                            0
sub_grade:D2                                                            0
sub_grade:D3                                                            0
sub_grade:D4                                                            0
sub_grade:D5                                                            0
sub_grade:E1                                                            0
sub_grade:E2                                                            0
sub_grade:E3                                                            0
sub_grade:E4                                                            0
sub_grade:E5                                                            0
sub_grade:F1                                                            0
sub_grade:F2                                                            0
sub_grade:F3                                                            0
sub_grade:F4                                                            0
sub_grade:F5                                                            0
sub_grade:G1                                                            0
sub_grade:G2                                                            0
sub_grade:G3                                                            0
sub_grade:G4                                                            0
sub_grade:G5                                                            0
home_ownership:ANY                                                      0
home_ownership:MORTGAGE                                                 0
home_ownership:NONE                                                     0
home_ownership:OTHER                                                    0
home_ownership:OWN                                                      0
home_ownership:RENT                                                     0
verification_status:Not Verified                                        0
verification_status:Source Verified                                     0
verification_status:Verified                                            0
loan_status:Charged Off                                                 0
loan_status:Current                                                     0
loan_status:Default                                                     0
loan_status:Does not meet the credit policy. Status:Charged Off         0
loan_status:Does not meet the credit policy. Status:Fully Paid          0
loan_status:Fully Paid                                                  0
loan_status:In Grace Period                                             0
loan_status:Late (16-30 days)                                           0
loan_status:Late (31-120 days)                                          0
purpose:car                                                             0
purpose:credit_card                                                     0
purpose:debt_consolidation                                              0
purpose:educational                                                     0
purpose:home_improvement                                                0
purpose:house                                                           0
purpose:major_purchase                                                  0
purpose:medical                                                         0
purpose:moving                                                          0
purpose:other                                                           0
purpose:renewable_energy                                                0
purpose:small_business                                                  0
purpose:vacation                                                        0
purpose:wedding                                                         0
addr_state:AK                                                           0
addr_state:AL                                                           0
addr_state:AR                                                           0
addr_state:AZ                                                           0
addr_state:CA                                                           0
addr_state:CO                                                           0
addr_state:CT                                                           0
addr_state:DC                                                           0
addr_state:DE                                                           0
addr_state:FL                                                           0
addr_state:GA                                                           0
addr_state:HI                                                           0
addr_state:IA                                                           0
addr_state:ID                                                           0
addr_state:IL                                                           0
addr_state:IN                                                           0
addr_state:KS                                                           0
addr_state:KY                                                           0
addr_state:LA                                                           0
addr_state:MA                                                           0
addr_state:MD                                                           0
addr_state:ME                                                           0
addr_state:MI                                                           0
addr_state:MN                                                           0
addr_state:MO                                                           0
addr_state:MS                                                           0
addr_state:MT                                                           0
addr_state:NC                                                           0
addr_state:NE                                                           0
addr_state:NH                                                           0
addr_state:NJ                                                           0
addr_state:NM                                                           0
addr_state:NV                                                           0
addr_state:NY                                                           0
addr_state:OH                                                           0
addr_state:OK                                                           0
addr_state:OR                                                           0
addr_state:PA                                                           0
addr_state:RI                                                           0
addr_state:SC                                                           0
addr_state:SD                                                           0
addr_state:TN                                                           0
addr_state:TX                                                           0
addr_state:UT                                                           0
addr_state:VA                                                           0
addr_state:VT                                                           0
addr_state:WA                                                           0
addr_state:WI                                                           0
addr_state:WV                                                           0
addr_state:WY                                                           0
initial_list_status:f                                                   0
initial_list_status:w                                                   0
dtype: int64

In [52]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'],inplace=True)

In [53]:
loan_data['total_rev_hi_lim'].isnull().sum()

0

In [55]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(),inplace=True)

In [56]:
loan_data['annual_inc'].isnull().sum()

0

In [57]:
loan_data['mnths_since_earliest_cr_line'].isnull().sum()

29

In [58]:
loan_data['mnths_since_earliest_cr_line'].fillna(0,inplace=True)

In [59]:
loan_data['mnths_since_earliest_cr_line'].isnull().sum()

0

In [60]:
loan_data['acc_now_delinq'].isnull().sum()

29

In [61]:
loan_data['acc_now_delinq'].fillna(0,inplace=True)

In [62]:
loan_data['acc_now_delinq'].isnull().sum()

0

In [63]:
loan_data['total_acc'].isnull().sum()

29

In [64]:
loan_data['total_acc'].fillna(0,inplace=True)

In [65]:
loan_data['total_acc'].isnull().sum()

0

In [66]:
loan_data['pub_rec'].isnull().sum()

29

In [67]:
loan_data['pub_rec'].fillna(0,inplace=True)

In [68]:
loan_data['open_acc'].isnull().sum()

29

In [69]:
loan_data['open_acc'].fillna(0,inplace=True)

In [70]:
loan_data['inq_last_6mths'].isnull().sum()

29

In [71]:
loan_data['inq_last_6mths'].fillna(0,inplace=True)

In [72]:
loan_data['delinq_2yrs'].isnull().sum()

29

In [73]:
loan_data['delinq_2yrs'].fillna(0,inplace=True)

In [74]:
loan_data['emp_length_int'].fillna(0,inplace=True)

# PD MODEL

## Data Preparation

### Defining Dependent Variable as either Good or Bad (default/non-default accounts)

In [75]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [76]:
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [77]:
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [80]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off', 'Default',
                                                               'Does not meet the credit policy. Status:Charged Off',
                                                               'Late (31-120 days)']),0,1)

In [85]:
loan_data['good_bad'].value_counts() / loan_data['good_bad'].count()

1    0.890693
0    0.109307
Name: good_bad, dtype: float64

### Splitting Data into Train and Test

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
train_test_split(loan_data.drop('good_bad', axis=1), loan_data['good_bad'])

[        Unnamed: 0        id  member_id  loan_amnt  funded_amnt  \
 211034      211034   1382566    1627360       8500         8500
 174960      174960   2854916    3437067      12000        12000
 10312        10312    834470    1044316       7250         7250
 163095      163095   3379445    4232306      24000        24000
 132397      132397   5645327    7027533       6000         6000
 ...            ...       ...        ...        ...          ...
 201023      201023   1496080    1756248      28625        28625
 415471      415471  13247618   15289817      25000        25000
 382269      382269  17133357    9341338      10800        10800
 316020      316020  12276104   14268267      35000        35000
 61641        61641   8975373   10777475       5350         5350

         funded_amnt_inv        term  int_rate  installment grade sub_grade  \
 211034           8500.0   36 months      6.03       258.71     A        A1
 174960          12000.0   36 months      8.90       381.04     A        A5
 10312            7250.0   36 months     11.99       240.77     B        B5
 163095          24000.0   36 months      7.62       747.88     A        A3
 132397           6000.0   36 months     10.16       194.06     B        B1
 ...                 ...         ...       ...          ...   ...       ...
 201023          28625.0   60 months     21.49       782.32     E        E3
 415471          25000.0   60 months     13.65       577.18     C        C1
 382269          10800.0   60 months     12.99       245.68     C        C1
 316020          35000.0   60 months     20.99       946.68     E        E4
 61641            5350.0   36 months     13.67       182.00     B        B5

                                 emp_title emp_length home_ownership  \
 211034                                NaN  10+ years           RENT
 174960  Mental Health Management Services  10+ years       MORTGAGE
 10312              NYCM Insurance Company  10+ years       MORTGAGE
 163095                 Northwest Hospital    5 years       MORTGAGE
 132397          Catalent Pharma Solutions  10+ years       MORTGAGE
 ...                                   ...        ...            ...
 201023                                NaN    8 years       MORTGAGE
 415471                    Project Manager  10+ years       MORTGAGE
 382269                     Branch Manager    3 years           RENT
 316020                 Sr. Rock Physicist     1 year       MORTGAGE
 61641                                 NaN        NaN           RENT

         annual_inc verification_status    issue_d  loan_status pymnt_plan  \
 211034     45000.0     Source Verified 2012-07-01   Fully Paid          n
 174960     46000.0        Not Verified 2013-01-01   Fully Paid          n
 10312      49000.0        Not Verified 2011-08-01   Fully Paid          n
 163095    105000.0        Not Verified 2013-02-01  Charged Off          n
 132397    285000.0            Verified 2013-06-01   Fully Paid          n
 ...            ...                 ...        ...          ...        ...
 201023     72800.0            Verified 2012-09-01  Charged Off          n
 415471    145000.0            Verified 2014-04-01      Current          n
 382269     39700.0            Verified 2014-05-01   Fully Paid          n
 316020    270000.0            Verified 2014-08-01      Current          n
 61641      17880.0            Verified 2013-11-01   Fully Paid          n

                                                       url  \
 211034  https://www.lendingclub.com/browse/loanDetail....
 174960  https://www.lendingclub.com/browse/loanDetail....
 10312   https://www.lendingclub.com/browse/loanDetail....
 163095  https://www.lendingclub.com/browse/loanDetail....
 132397  https://www.lendingclub.com/browse/loanDetail....
 ...                                                   ...
 201023  https://www.lendingclub.com/browse/loanDetail....
 415471  https://www.lendingclub.com/browse/loanDetail....
 382269  https://www.lendingclub.com/browse/loanDetail....
 316020  https://www.lendingclub.com/browse/loanDetail....
 61641   https://www.lendingclub.com/browse/loanDetail....

                                                      desc             purpose  \
 211034    Borrower added on 06/22/12 > This loan will ...         credit_card
 174960                                                NaN         credit_card
 10312     Borrower added on 07/29/11 > I will use this...  debt_consolidation
 163095                                                NaN  debt_consolidation
 132397    Borrower added on 05/28/13 > Consolidate and...         credit_card
 ...                                                   ...                 ...
 201023    Borrower added on 08/22/12 > I am starting m...      small_business
 415471                                                NaN               other
 382269                                                NaN         credit_card
 316020                                                NaN    home_improvement
 61641     Borrower added on 11/14/13 > My Loan is to p...         credit_card

                             title zip_code addr_state    dti  delinq_2yrs  \
 211034  Credit card consolidation    902xx         CA   8.89          0.0
 174960              debts be gone    652xx         MO  14.52          0.0
 10312                   Freesdom2    120xx         NY  22.97          0.0
 163095         Debt consolidation    207xx         MD  20.12          0.0
 132397                  The Dream    073xx         NJ   4.50          1.0
 ...                           ...      ...        ...    ...          ...
 201023                   Business    300xx         GA   6.40          1.0
 415471                      Other    971xx         OR  12.58          0.0
 382269         Debt consolidation    201xx         VA  27.54          0.0
 316020           Home improvement    770xx         TX   6.65          0.0
 61641                 Enchantment    870xx         NM  18.32          0.0

        earliest_cr_line  inq_last_6mths  mths_since_last_delinq  \
 211034           Jan-95             0.0                     NaN
 174960           Jun-93             0.0                    37.0
 10312            Nov-01             2.0                     NaN
 163095           Oct-03             1.0                     NaN
 132397           Mar-97             3.0                    14.0
 ...                 ...             ...                     ...
 201023           Oct-00             2.0                    21.0
 415471           Mar-99             0.0                     NaN
 382269           Mar-08             1.0                     NaN
 316020           Feb-02             1.0                     NaN
 61641            Dec-01             0.0                    37.0

         mths_since_last_record  open_acc  pub_rec  revol_bal  revol_util  \
 211034                     NaN       6.0      0.0      13795        25.6
 174960                     NaN      15.0      0.0      19834        50.7
 10312                      NaN       8.0      0.0       7183        70.4
 163095                     NaN      11.0      0.0      15404        64.7
 132397                     NaN      15.0      0.0      31414        41.5
 ...                        ...       ...      ...        ...         ...
 201023                     NaN      17.0      0.0       6439        24.6
 415471                     NaN      10.0      0.0       9028        15.4
 382269                     NaN       5.0      0.0       6339        57.6
 316020                     NaN      14.0      0.0      38065        47.7
 61641                      NaN       6.0      0.0       4689        50.4

         total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
 211034       16.0                   f       0.00           0.00   8907.130723
 174960       39.0                   f       0.00           0.00  13717.380080
 10312        28.0                   f       0.00           0.00   8583.870000
 163095       16.0                   w       0.00           0.00  17201.240000
 132397       47.0                   f       0.00           0.00   6629.522551
 ...           ...                 ...        ...            ...           ...
 201023       33.0                   f       0.00           0.00  18026.360000
 415471       32.0                   f   18098.59       18098.59  12120.780000
 382269       17.0                   w       0.00           0.00  11931.800000
 316020       26.0                   w   28885.69       28885.69  15146.880000
 61641        14.0                   w       0.00           0.00   6206.200000

         total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
 211034          8907.13          8500.00         407.13            0.000000
 174960         13717.38         12000.00        1717.38            0.000000
 10312           8583.87          7250.00        1333.87            0.000000
 163095         17201.24         14696.62        2504.62            0.000000
 132397          6629.52          6000.00         629.52            0.000000
 ...                 ...              ...            ...                 ...
 201023         18026.36          7583.29       10403.95           39.117073
 415471         12120.78          6901.41        5219.37            0.000000
 382269         11931.80         10800.00        1131.80            0.000000
 316020         15146.88          6114.31        9032.57            0.000000
 61641           6206.20          5350.00         856.20            0.000000

         recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
 211034         0.0                      0.0       Apr-14           136.49
 174960         0.0                      0.0       Jan-16           380.98
 10312          0.0                      0.0       Dec-13          2085.52
 163095         0.0                      0.0       Feb-15           747.88
 132397         0.0                      0.0       Sep-14          3914.04
 ...            ...                      ...          ...              ...
 201023         0.0                      0.0       Aug-14           782.32
 415471         0.0                      0.0       Jan-16           577.18
 382269         0.0                      0.0       Mar-15          9720.68
 316020         0.0                      0.0       Jan-16           946.68
 61641          0.0                      0.0       Apr-15          3294.20

        next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
 211034          NaN             Apr-14                         0.0
 174960          NaN             Jan-16                         0.0
 10312           NaN             Apr-15                         0.0
 163095          NaN             Jan-16                         0.0
 132397          NaN             Sep-14                         0.0
 ...             ...                ...                         ...
 201023          NaN             Jan-16                         0.0
 415471       Feb-16             Jan-16                         0.0
 382269          NaN             Nov-15                         0.0
 316020       Feb-16             Jan-16                         0.0
 61641           NaN             Jan-16                         0.0

         mths_since_last_major_derog  policy_code application_type  \
 211034                          NaN            1       INDIVIDUAL
 174960                          NaN            1       INDIVIDUAL
 10312                           NaN            1       INDIVIDUAL
 163095                          NaN            1       INDIVIDUAL
 132397                         57.0            1       INDIVIDUAL
 ...                             ...          ...              ...
 201023                         21.0            1       INDIVIDUAL
 415471                          NaN            1       INDIVIDUAL
 382269                          NaN            1       INDIVIDUAL
 316020                          NaN            1       INDIVIDUAL
 61641                           NaN            1       INDIVIDUAL

         annual_inc_joint  dti_joint  verification_status_joint  \
 211034               NaN        NaN                        NaN
 174960               NaN        NaN                        NaN
 10312                NaN        NaN                        NaN
 163095               NaN        NaN                        NaN
 132397               NaN        NaN                        NaN
 ...                  ...        ...                        ...
 201023               NaN        NaN                        NaN
 415471               NaN        NaN                        NaN
 382269               NaN        NaN                        NaN
 316020               NaN        NaN                        NaN
 61641                NaN        NaN                        NaN

         acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  \
 211034             0.0           NaN          NaN          NaN         NaN
 174960             0.0           0.0     107902.0          NaN         NaN
 10312              0.0           NaN          NaN          NaN         NaN
 163095             0.0           0.0     461926.0          NaN         NaN
 132397             0.0           0.0     276004.0          NaN         NaN
 ...                ...           ...          ...          ...         ...
 201023             0.0           0.0     244055.0          NaN         NaN
 415471             0.0           0.0     300788.0          NaN         NaN
 382269             0.0           0.0      35457.0          NaN         NaN
 316020             0.0           0.0     538032.0          NaN         NaN
 61641              0.0           0.0       4689.0          NaN         NaN

         open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
 211034          NaN          NaN                 NaN           NaN      NaN
 174960          NaN          NaN                 NaN           NaN      NaN
 10312           NaN          NaN                 NaN           NaN      NaN
 163095          NaN          NaN                 NaN           NaN      NaN
 132397          NaN          NaN                 NaN           NaN      NaN
 ...             ...          ...                 ...           ...      ...
 201023          NaN          NaN                 NaN           NaN      NaN
 415471          NaN          NaN                 NaN           NaN      NaN
 382269          NaN          NaN                 NaN           NaN      NaN
 316020          NaN          NaN                 NaN           NaN      NaN
 61641           NaN          NaN                 NaN           NaN      NaN

         open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  \
 211034          NaN          NaN         NaN       NaN            8500.0
 174960          NaN          NaN         NaN       NaN           39100.0
 10312           NaN          NaN         NaN       NaN            7250.0
 163095          NaN          NaN         NaN       NaN           23800.0
 132397          NaN          NaN         NaN       NaN           75659.0
 ...             ...          ...         ...       ...               ...
 201023          NaN          NaN         NaN       NaN           26180.0
 415471          NaN          NaN         NaN       NaN           58600.0
 382269          NaN          NaN         NaN       NaN           11000.0
 316020          NaN          NaN         NaN       NaN           72500.0
 61641           NaN          NaN         NaN       NaN            9300.0

         inq_fi  total_cu_tl  inq_last_12m  emp_length_int  term_int  \
 211034     NaN          NaN           NaN            10.0        36
 174960     NaN          NaN           NaN            10.0        36
 10312      NaN          NaN           NaN            10.0        36
 163095     NaN          NaN           NaN             5.0        36
 132397     NaN          NaN           NaN            10.0        36
 ...        ...          ...           ...             ...       ...
 201023     NaN          NaN           NaN             8.0        60
 415471     NaN          NaN           NaN            10.0        60
 382269     NaN          NaN           NaN             3.0        60
 316020     NaN          NaN           NaN             1.0        60
 61641      NaN          NaN           NaN             0.0        36

        earliest_cr_line_date  mnths_since_earliest_cr_line  \
 211034            1995-01-01                         275.0
 174960            1993-06-01                         294.0
 10312             2001-11-01                         193.0
 163095            2003-10-01                         170.0
 132397            1997-03-01                         249.0
 ...                      ...                           ...
 201023            2000-10-01                         206.0
 415471            1999-03-01                         225.0
 382269            2008-03-01                         117.0
 316020            2002-02-01                         190.0
 61641             2001-12-01                         192.0

         mnths_since_issue_d  grade:A  grade:B  grade:C  grade:D  grade:E  \
 211034                 65.0        1        0        0        0        0
 174960                 59.0        1        0        0        0        0
 10312                  76.0        0        1        0        0        0
 163095                 58.0        1        0        0        0        0
 132397                 54.0        0        1        0        0        0
 ...                     ...      ...      ...      ...      ...      ...
 201023                 63.0        0        0        0        0        1
 415471                 44.0        0        0        1        0        0
 382269                 43.0        0        0        1        0        0
 316020                 40.0        0        0        0        0        1
 61641                  49.0        0        1        0        0        0

         grade:F  grade:G  sub_grade:A1  sub_grade:A2  sub_grade:A3  \
 211034        0        0             1             0             0
 174960        0        0             0             0             0
 10312         0        0             0             0             0
 163095        0        0             0             0             1
 132397        0        0             0             0             0
 ...         ...      ...           ...           ...           ...
 201023        0        0             0             0             0
 415471        0        0             0             0             0
 382269        0        0             0             0             0
 316020        0        0             0             0             0
 61641         0        0             0             0             0

         sub_grade:A4  sub_grade:A5  sub_grade:B1  sub_grade:B2  sub_grade:B3  \
 211034             0             0             0             0             0
 174960             0             1             0             0             0
 10312              0             0             0             0             0
 163095             0             0             0             0             0
 132397             0             0             1             0             0
 ...              ...           ...           ...           ...           ...
 201023             0             0             0             0             0
 415471             0             0             0             0             0
 382269             0             0             0             0             0
 316020             0             0             0             0             0
 61641              0             0             0             0             0

         sub_grade:B4  sub_grade:B5  sub_grade:C1  sub_grade:C2  sub_grade:C3  \
 211034             0             0             0             0             0

In [88]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis=1), loan_data['good_bad'])

In [90]:
print(loan_data_inputs_train.shape)
print(loan_data_inputs_test.shape)
print(loan_data_targets_train.shape)
print(loan_data_targets_test.shape)

(349713, 206)
(116572, 206)
(349713,)
(116572,)

In [91]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis=1), loan_data['good_bad'], test_size=0.2, random_state=42)

In [92]:
print(loan_data_inputs_train.shape)
print(loan_data_inputs_test.shape)
print(loan_data_targets_train.shape)
print(loan_data_targets_test.shape)

(373028, 206)
(93257, 206)
(373028,)
(93257,)